/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";

.ui-widget-header {
    color: #564040;
}

em{
    color: #e71515;
    font-weight: bold;
}

.ng-invalid.ng-touched{ 
   border-color: red; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
